/* =============
    Hero
============= */
#hero{
    img {width:100%;}
}

h2{
    text-align: center;
}

p{
    text-align: center;
}




.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}





    div.box {
        height: 320 px;
        width: 408 px;}